* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background: url('premium_photo-1661964056906-ed236b15df1b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;



}

li,
a,
button {
    font-family: Alegreya SC;
    text-decoration: none;
    font-size: 16px;
    

}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    right: 100px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    transition: height .2s ease;
    overflow: hidden;
    transform: scale(0);
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper .login-form{
    width: 100%;
    padding: 50px;
}
.wrapper .login-form{
     transition: transform .18s ease;
     transform: translateX(0);
}
.wrapper.active .login-form{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .register-form{
    position: absolute;
    transition: none;
    transform: translateX(400px) ;
}.wrapper.active .register-form{
    transition: transform .18s ease;
    transform: translateX(0);
}
.icon-close{
    position: absolute;
    top: 0;
    right:0px;
    width: 45px;
    height: 45px;
    font-size: 30px;
}
 .login-form h2{
font-size: large;
text-align: center;
font-family: 'Montserrat', sans-serif;

 }
 .register-form h2{
    font-size: large;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    
     }
 .input-box{
    position: relative;
    width: 100;
    height: 50px;
    border-bottom:2px solid #162938;
    background-color: transparent;
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
 }
 .input-box label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#162938 ;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
 }
 .input-box input:focus~label,
 .input-box input:valid~label {
    top: -5px;
    background:transparent;
 }
 .input-box input email:focus~label,
 .input-box input email:valid~label {
    top: -5px;
    background:transparent;
 }
 .input-box input{
    width: 100%;
    height:100%;
    background:transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
 }
 .input-box .icon{
    position: absolute;
    right: 8px;
    bottom: 5px;  
 }
 .remember-forgot{
    font-size: .9em;
    margin: -15px 0 15px;
    color: #162938;
    display: flex;
    justify-content: space-between;
    
 }
 .remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
    
    
 }
 .remember-forgot a{
    text-decoration: none;
    color: #162938;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;   
 }
 .remember-forgot a:hover{
    text-decoration: underline;
 }

 .btn{
    width: 100%;
    height: 45px;
    background:#162938; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #f4d7b8;
    font-weight: 500;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
 }
 .login-register{
    font-size: 1em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
 }
 .login-register p a{
    text-decoration: none;
    color: #162938;
    font-weight:bolder; 
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    left: -20px;  
 }
 .remember-forgot p a:hover{
    text-decoration: underline;
 }
 .remember-forgot p a:hover{
    text-decoration: underline;
 }



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;   
}



.logo {
    margin-left: auto;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0px 16px;
}

ul li a {
    padding: 8px;
    transition: all 0.3s ease 0s;
    color: #24252A
}
.active{
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.29), 0 8px 6px rgba(0,0,0,0.23);
 }

ul li a:hover {
    color: #0088a9;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.29), 0 8px 6px rgba(0,0,0,0.23);
}

button {
    margin-left: 24px;
    padding: 7px 20px;
    border-radius: 50px;
    background-color: rgb(4, 107, 136);
    border: none;
}

button:hover {
    background-color: #162938;
    color: #f4d7b8;
    box-shadow: 0 10px 20px rgba(0,0,0,0.29), 0 8px 6px rgba(0,0,0,0.23);

}

#content {
    width: 43%;
margin-top: 80px;
    margin-left: 40px;
}

.motto {
    text-transform: uppercase;
    font-size: 68px;
    font-weight: bolder;
}
.pm{
    font-size: 16px;
    
}
#achievements {
    display: inline-block;
    margin-left: 520px;
    margin-top: 110px;
    align-items: center;

}

.ac {
    display: inline-block;
    padding: 16px;
}

.win {
    display: inline;

    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 80px;
    color: rgb(188, 0, 0);
}
.aw{
    font-size: 24px;
    color: #ece9e1;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
    
}
